<div class="jumbotron text-center">
    <h1>Welcome to Sec App</h1>
    <h3>A membership site were security professionals connect</h3>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>